[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2 = "*"
pytest = "*"
flask-swagger-ui = "*"
flask-login = "*"
flask-httpauth = "*"
httpie = "*"
elasticsearch = "*"
gunicorn = "*"
importlib-metadata = "*"
retrying = "*"

[dev-packages]

[requires]
python_version = "3.7"
